# PyCaret Models

In this notebook I use an automated machine learning tool named "PyCaret" in order to get a quick idea about what the best models and features are to optimize our prediction of whether passengers were transported to another dimension or not.

In this notebook I take a sort of step-wise approach to deciding which features and models to use moving forward. 

I use PyCaret to assess whether all features, logarithmic numeric features only, leaving out logarithmic features, removing the aggregated "total spending" redundancy performs best. This allows me to observe how various models perform differently given these different input feature sets.

In [1]:
import sys
import os

parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir, os.pardir))
sys.path.append(parent_dir)

In [2]:
import pandas as pd
from pycaret.classification import ClassificationExperiment
from sklearn import set_config
from sklearn.compose import ColumnTransformer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from utils.machine_learning import Rounder

In [3]:
train_data = pd.read_pickle(
    "../../data/train_processed.pkl"
)
train_data

,PassengerNum,Age,HomePlanet,Destination,CabinDeck,CabinSide,CryoSleep,VIP,RoomService,FoodCourt,...,YesShoppingMall,YesSpa,YesVRDeck,YesTotalSpending,LogRoomService,LogFoodCourt,LogShoppingMall,LogSpa,LogVRDeck,LogTotalSpending
0,01,39.0,Europa,TRAPPIST-1e,B,P,False,False,0.0,0.0,...,False,False,False,False,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,01,24.0,Earth,TRAPPIST-1e,F,S,False,False,109.0,9.0,...,True,True,True,True,4.700480,2.302585,3.258097,6.309918,3.806662,6.602588
2,01,58.0,Europa,TRAPPIST-1e,A,S,False,True,43.0,3576.0,...,False,True,True,True,3.784190,8.182280,0.000000,8.812248,3.912023,9.248021
3,02,33.0,Europa,TRAPPIST-1e,A,S,False,False,0.0,1283.0,...,True,True,True,True,0.000000,7.157735,5.918894,8.110728,5.267858,8.551981
4,01,16.0,Earth,TRAPPIST-1e,F,S,False,False,303.0,70.0,...,True,True,True,True,5.717028,4.262680,5.023881,6.338594,1.098612,6.995766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,01,41.0,Europa,55 Cancri e,A,P,False,True,0.0,6819.0,...,False,True,True,True,0.000000,8.827615,0.000000,7.404888,4.317488,9.052165
8689,01,18.0,Earth,PSO J318.5-22,G,S,True,False,0.0,0.0,...,False,False,False,False,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8690,01,26.0,Earth,TRAPPIST-1e,G,S,False,False,0.0,0.0,...,True,True,False,True,0.000000,0.000000,7.535297,0.693147,0.000000,7.535830
8691,01,32.0,Europa,55 Cancri e,E,S,False,False,0.0,1049.0,...,False,True,True,True,0.000000,6.956545,0.000000,5.869297,8.082093,8.442039
8692,02,44.0,Europa,TRAPPIST-1e,E,S,False,False,126.0,4688.0,...,False,False,True,True,4.844187,8.452975,0.000000,0.000000,2.564949,8.481980

In [4]:
train_data.dtypes

PassengerNum           object
Age                   float64
HomePlanet             object
Destination            object
CabinDeck              object
CabinSide              object
CryoSleep              object
VIP                    object
RoomService           float64
FoodCourt             float64
ShoppingMall          float64
Spa                   float64
VRDeck                float64
Transported            object
NameMissing            object
HomeMissing            object
DestinationMissing     object
CabinMissing           object
CryoMissing            object
VIPMissing             object
PartySize             float64
FamilyGroupMember      object
CabinBin              float64
TotalSpending         float64
YesRoomService         object
YesFoodCourt           object
YesShoppingMall        object
YesSpa                 object
YesVRDeck              object
YesTotalSpending       object
LogRoomService        float64
LogFoodCourt          float64
LogShoppingMall       float64
LogSpa                float64
LogVRDeck             float64
LogTotalSpending      float64
dtype: object

In [5]:
train_data.describe(include="all")

,PassengerNum,Age,HomePlanet,Destination,CabinDeck,CabinSide,CryoSleep,VIP,RoomService,FoodCourt,...,YesShoppingMall,YesSpa,YesVRDeck,YesTotalSpending,LogRoomService,LogFoodCourt,LogShoppingMall,LogSpa,LogVRDeck,LogTotalSpending
count,8693,8514.000000,8693,8693,8693,8693,8693,8693,8512.000000,8510.000000,...,8693,8693,8693,8693,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,7785.000000
unique,8,NaN,4,4,9,3,3,3,NaN,NaN,...,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN
top,01,NaN,Earth,TRAPPIST-1e,F,S,False,False,NaN,NaN,...,False,False,False,True,NaN,NaN,NaN,NaN,NaN,NaN
freq,6217,NaN,4602,5915,2794,4288,5439,8291,NaN,NaN,...,5795,5507,5683,4538,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,28.827930,NaN,NaN,NaN,NaN,NaN,NaN,224.687617,458.077203,...,NaN,NaN,NaN,NaN,1.772195,1.947541,1.638622,1.878394,1.796809,4.305709
std,NaN,14.489021,NaN,NaN,NaN,NaN,NaN,NaN,666.717663,1611.489240,...,NaN,NaN,NaN,NaN,2.736122,2.950822,2.586336,2.785687,2.764405,3.700501
min,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,6.602588
75%,NaN,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,47.000000,76.000000,...,NaN,NaN,NaN,NaN,3.871201,4.343805,3.332205,4.094345,3.850148,7.304516
max,NaN,79.000000,NaN,NaN,NaN,NaN,NaN,NaN,14327.000000,29813.000000,...,NaN,NaN,NaN,NaN,9.569971,10.302733,10.064458,10.017218,10.091377,10.490941

#### Include All Data

In [6]:
df = train_data.copy()

In [7]:
X = df.drop(columns="Transported")
y = df["Transported"]

In [8]:
numerical_columns = list(X.select_dtypes(include="number").drop(columns="CabinBin"))
categorical_columns = list(X.select_dtypes(include=["object"]))

In [9]:
set_config(transform_output="pandas")

cat_pipeline = Pipeline([("one_hot", OneHotEncoder(sparse_output=False))])
num_pipeline = Pipeline(
    [
        ("imputer", IterativeImputer(random_state=0)),
        ("scaler", StandardScaler()),
    ]
)
ord_pipeline = Pipeline(
    [
        ("oe", OrdinalEncoder()),
        ("imputer", IterativeImputer(random_state=0)),
        ("rounder", Rounder(decimals=0)),
    ]
)
feature_preprocessing = ColumnTransformer(
    [
        ("cat", cat_pipeline, categorical_columns),
        ("num", num_pipeline, numerical_columns),
        ("ord", ord_pipeline, ["CabinBin"]),
    ],
    verbose_feature_names_out=False,
)

In [10]:
X_processed = feature_preprocessing.fit_transform(X)

In [11]:
pc_workflow = ClassificationExperiment()
pc_workflow.setup(X_processed, target=y, session_id=1)

In [12]:
best = pc_workflow.compare_models()

A few things to note: 
- This is likely to overfit, there are redundant features. 
- This is slow, there are a lot of features
- Only tree-based classifiers can really handle this sort of modeling. 
- Max accuracy is .8074

In [13]:
pc_workflow.evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

note in Feature Importance:
- Age appears to be an important variable
- Total Spending is important, as are all of the other spending features
- It uses the raw spending as more important than the logarithmic spending

## What if we only use the log values for spending variables?

In [14]:
df = train_data.copy()
df.columns

Index(['PassengerNum', 'Age', 'HomePlanet', 'Destination', 'CabinDeck',
       'CabinSide', 'CryoSleep', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Transported', 'NameMissing',
       'HomeMissing', 'DestinationMissing', 'CabinMissing', 'CryoMissing',
       'VIPMissing', 'PartySize', 'FamilyGroupMember', 'CabinBin',
       'TotalSpending', 'YesRoomService', 'YesFoodCourt', 'YesShoppingMall',
       'YesSpa', 'YesVRDeck', 'YesTotalSpending', 'LogRoomService',
       'LogFoodCourt', 'LogShoppingMall', 'LogSpa', 'LogVRDeck',
       'LogTotalSpending'],
      dtype='object')

In [15]:
df = train_data.copy()
X = df.drop(
    columns=["Transported", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]
)
y = df["Transported"]
numerical_columns = list(X.select_dtypes(include="number").drop(columns="CabinBin"))
categorical_columns = list(X.select_dtypes(include=["object"]))
set_config(transform_output="pandas")

cat_pipeline = Pipeline([("one_hot", OneHotEncoder(sparse_output=False))])
num_pipeline = Pipeline(
    [
        ("imputer", IterativeImputer(random_state=0)),
        ("scaler", StandardScaler()),
    ]
)
ord_pipeline = Pipeline(
    [
        ("oe", OrdinalEncoder()),
        ("imputer", IterativeImputer(random_state=0)),
        ("rounder", Rounder(decimals=0)),
    ]
)
feature_preprocessing = ColumnTransformer(
    [
        ("cat", cat_pipeline, categorical_columns),
        ("num", num_pipeline, numerical_columns),
        ("ord", ord_pipeline, ["CabinBin"]),
    ],
    verbose_feature_names_out=False,
)
X_processed = feature_preprocessing.fit_transform(X)
pc_workflow = ClassificationExperiment()
pc_workflow.setup(X_processed, target=y, session_id=2)

In [16]:
best = pc_workflow.compare_models()

In [17]:
pc_workflow.evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

This performs even better, but is very reliant on gradient boosted tree models. However, I do find it to be superior to using all features. However, one thing I notice is that I used Total Spending AND log total spending. let's remove this redundancy.

In [18]:
df = train_data.copy()
df.columns

Index(['PassengerNum', 'Age', 'HomePlanet', 'Destination', 'CabinDeck',
       'CabinSide', 'CryoSleep', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Transported', 'NameMissing',
       'HomeMissing', 'DestinationMissing', 'CabinMissing', 'CryoMissing',
       'VIPMissing', 'PartySize', 'FamilyGroupMember', 'CabinBin',
       'TotalSpending', 'YesRoomService', 'YesFoodCourt', 'YesShoppingMall',
       'YesSpa', 'YesVRDeck', 'YesTotalSpending', 'LogRoomService',
       'LogFoodCourt', 'LogShoppingMall', 'LogSpa', 'LogVRDeck',
       'LogTotalSpending'],
      dtype='object')

In [19]:
df = train_data.copy()
X = df.drop(
    columns=[
        "Transported",
        "RoomService",
        "FoodCourt",
        "ShoppingMall",
        "Spa",
        "VRDeck",
        "TotalSpending",
    ]
)
y = df["Transported"]
numerical_columns = list(X.select_dtypes(include="number").drop(columns="CabinBin"))
categorical_columns = list(X.select_dtypes(include=["object"]))
set_config(transform_output="pandas")

cat_pipeline = Pipeline([("one_hot", OneHotEncoder(sparse_output=False))])
num_pipeline = Pipeline(
    [
        ("imputer", IterativeImputer(random_state=0)),
        ("scaler", StandardScaler()),
    ]
)
ord_pipeline = Pipeline(
    [
        ("oe", OrdinalEncoder()),
        ("imputer", IterativeImputer(random_state=0)),
        ("rounder", Rounder(decimals=0)),
    ]
)
feature_preprocessing = ColumnTransformer(
    [
        ("cat", cat_pipeline, categorical_columns),
        ("num", num_pipeline, numerical_columns),
        ("ord", ord_pipeline, ["CabinBin"]),
    ],
    verbose_feature_names_out=False,
)
X_processed = feature_preprocessing.fit_transform(X)

In [20]:
pc_workflow = ClassificationExperiment()
pc_workflow.setup(X_processed, target=y, session_id=3)

In [21]:
best = pc_workflow.compare_models()

In [22]:
pc_workflow.evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

I would say that this is our best performing model yet

## What happens if we remove total spending entirely and have the model rely solely on the individual spending variables?

In [23]:
df.columns

Index(['PassengerNum', 'Age', 'HomePlanet', 'Destination', 'CabinDeck',
       'CabinSide', 'CryoSleep', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Transported', 'NameMissing',
       'HomeMissing', 'DestinationMissing', 'CabinMissing', 'CryoMissing',
       'VIPMissing', 'PartySize', 'FamilyGroupMember', 'CabinBin',
       'TotalSpending', 'YesRoomService', 'YesFoodCourt', 'YesShoppingMall',
       'YesSpa', 'YesVRDeck', 'YesTotalSpending', 'LogRoomService',
       'LogFoodCourt', 'LogShoppingMall', 'LogSpa', 'LogVRDeck',
       'LogTotalSpending'],
      dtype='object')

In [24]:
df = train_data.copy()
X = df.drop(
    columns=[
        "Transported",
        "RoomService",
        "FoodCourt",
        "ShoppingMall",
        "Spa",
        "VRDeck",
        "TotalSpending",
        "LogTotalSpending",
    ]
)
y = df["Transported"]
numerical_columns = list(X.select_dtypes(include="number").drop(columns="CabinBin"))
categorical_columns = list(X.select_dtypes(include=["object"]))
set_config(transform_output="pandas")

cat_pipeline = Pipeline([("one_hot", OneHotEncoder(sparse_output=False))])
num_pipeline = Pipeline(
    [
        ("imputer", IterativeImputer(random_state=0)),
        ("scaler", StandardScaler()),
    ]
)
ord_pipeline = Pipeline(
    [
        ("oe", OrdinalEncoder()),
        ("imputer", IterativeImputer(random_state=0)),
        ("rounder", Rounder(decimals=0)),
    ]
)
feature_preprocessing = ColumnTransformer(
    [
        ("cat", cat_pipeline, categorical_columns),
        ("num", num_pipeline, numerical_columns),
        ("ord", ord_pipeline, ["CabinBin"]),
    ],
    verbose_feature_names_out=False,
)
X_processed = feature_preprocessing.fit_transform(X)

In [25]:
pc_workflow = ClassificationExperiment()
pc_workflow.setup(X_processed, target=y, session_id=3)

In [26]:
best = pc_workflow.compare_models()

In [27]:
pc_workflow.evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

# What if I use the non-logarithmic spending variables?

In [28]:
df = train_data.copy()
X = df.drop(
    columns=[
        "Transported",
        "LogRoomService",
        "LogFoodCourt",
        "LogShoppingMall",
        "LogSpa",
        "LogVRDeck",
        "LogTotalSpending",
    ]
)
y = df["Transported"]
numerical_columns = list(X.select_dtypes(include="number").drop(columns="CabinBin"))
categorical_columns = list(X.select_dtypes(include=["object"]))
set_config(transform_output="pandas")

cat_pipeline = Pipeline([("one_hot", OneHotEncoder(sparse_output=False))])
num_pipeline = Pipeline(
    [
        ("imputer", IterativeImputer(random_state=0)),
        ("scaler", StandardScaler()),
    ]
)
ord_pipeline = Pipeline(
    [
        ("oe", OrdinalEncoder()),
        ("imputer", IterativeImputer(random_state=0)),
        ("rounder", Rounder(decimals=0)),
    ]
)
feature_preprocessing = ColumnTransformer(
    [
        ("cat", cat_pipeline, categorical_columns),
        ("num", num_pipeline, numerical_columns),
        ("ord", ord_pipeline, ["CabinBin"]),
    ],
    verbose_feature_names_out=False,
)
X_processed = feature_preprocessing.fit_transform(X)

In [29]:
pc_workflow = ClassificationExperiment()
pc_workflow.setup(X_processed, target=y, session_id=5)

In [30]:
best = pc_workflow.compare_models()

## Lastly, let's try again, but this time, not including total spending, nor including the logarithmic spending variables

In [31]:
df = train_data.copy()

In [32]:
X = df.drop(
    columns=[
        "Transported",
        "TotalSpending",
        "LogRoomService",
        "LogFoodCourt",
        "LogShoppingMall",
        "LogSpa",
        "LogVRDeck",
        "LogTotalSpending",
        "LogTotalSpending",
    ]
)
y = df["Transported"]

In [33]:
numerical_columns = list(X.select_dtypes(include="number").drop(columns="CabinBin"))
categorical_columns = list(X.select_dtypes(include=["object"]))

In [34]:
set_config(transform_output="pandas")

cat_pipeline = Pipeline([("one_hot", OneHotEncoder(sparse_output=False))])
num_pipeline = Pipeline(
    [
        ("imputer", IterativeImputer(random_state=0)),
        ("scaler", StandardScaler()),
    ]
)
ord_pipeline = Pipeline(
    [
        ("oe", OrdinalEncoder()),
        ("imputer", IterativeImputer(random_state=0)),
        ("rounder", Rounder(decimals=0)),
    ]
)
feature_preprocessing = ColumnTransformer(
    [
        ("cat", cat_pipeline, categorical_columns),
        ("num", num_pipeline, numerical_columns),
        ("ord", ord_pipeline, ["CabinBin"]),
    ],
    verbose_feature_names_out=False,
)

In [35]:
X_processed = feature_preprocessing.fit_transform(X)

In [36]:
pc_workflow = ClassificationExperiment()
pc_workflow.setup(X_processed, target=y, session_id=6)

In [37]:
best = pc_workflow.compare_models()

In [38]:
pc_workflow.evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

# Conclusions

- All models performed somewhat similarly,
- Tree-based models performed the best: LightGBM and the GradientBoostingClassifier typically performed the highest with respect to accuracy. Followed by XGBoost and Random Forest. 
- Logistic Regression varied in its performance, performaing best with all of the information (however this is potentially evidence of overfitting and not generalizable performance)
- My approach based on these results will be do optimize a variety of these models and create an ensemble voting model.
- Overall, I recommend a tree-based model as the primary method with all combinations of features (but no total spending feature)